* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 250px;
}

/*trying to style my header i saw a curvey header on the internet thought to apply it here*/
header {
  text-align: left;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

/*profile pic should look curvey with border styling*/
.profile-pic {
  border-radius: 70%;
  display: block;
  border: 2px ridge #854777;
  padding: 5px;
  float: left;
}

header {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin-bottom: 30px;
  margin-right: inherit;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #d9d872;
  font-style: oblique;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #090088;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #e2bebe;
  color: black;
}

body {
  font-family: sans-serif;
  background-color: white;
}

/*styling for overall grid layout and grid items inside*/
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;

  &:nth-child(odd) {
    background-color: #424242;
  }
}

/*all the grids should have different font and color from each other hope it looks good*/
.item-1 {
  grid-column-end: span 4;
  grid-row-end: span 3;
  background-color: #23eae6;
  font-family: monospace;
}

.item-2 {
  grid-column-end: span 2;
  grid-row-end: span 3;
  background-color: #d61d4e;
  font-family: monospace;
}

.item-3 {
  background-color: #fe5f55;
  grid-column-end: span 2;
  grid-row-end: span 2;
  font-family: monospace;
}

.item-4 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  background-color: #bb7171;
  font-family: monospace;
}

.item-5 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  background-color: #58b368;
  font-family: monospace;
}

/*i have made horizontal rule between contents of grid so needs little styling*/
hr {
  border-style: none;
  border-top: dotted;
  border-color: blue;
  border-width: 5px;
  width: 25%;
  margin-left: 35px;
}

.hr-1 {
  border-style: none;
  border-top: dotted;
  border-color: #ff6768;
  border-width: 5px;
  width: 25%;
  margin-left: 100px;
}

.my-imgs {
  border-radius: 5px;
  padding: 5px;
  border: 3px solid #009975;
}

/*my personal description should be different font*/
.op-pa {
  font-style: italic;
  font-family: monospace;
}

/*styling to list in my footer*/
ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

/*want to make hover effect so that the links change color when clicked*/
a {
  color: White;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover~li p {
  animation: wave-animation 0.3s infinite;
}

/* styling for the footer the last bit to make webpage attractive */
footer {
  background-color: #f30cd4;
  height: 50px;
  border-radius: 50px;
  border: 5px ridge blue;
  padding: 7px;
}

/* i have learned through internet search to make animation and add effects to it*/
@keyframes wave-animation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}
